/* @screen lg-max {
  .text-title-display {
    font-size: 36px !important;
    line-height: 44px !important;
    letter-spacing: 0px !important;
  }

  .text-title-large {
    font-size: 28px !important;
    line-height: 36px !important;
    letter-spacing: 0px !important;
  }

  .text-title-medium {
    font-size: 20px !important;
    line-height: 30px !important;
    letter-spacing: 0px !important;
  }

  .text-title-small {
    font-size: 18px !important;
    line-height: 28px !important;
    letter-spacing: 0px !important;
  }

  .text-body-large {
    font-size: 17px !important;
    line-height: 28px !important;
    letter-spacing: 0px !important;
  }

  .text-body-medium {
    font-size: 15px !important;
    line-height: 24px !important;
    letter-spacing: -0.07px !important;
  }

  .text-body-small {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
  }

  .text-body-detail {
    font-size: 13px !important;
    line-height: 18px !important;
    letter-spacing: 0px !important;
  }

  .text-body-label {
    font-size: 15px !important;
    line-height: 24px !important;
    letter-spacing: -0.07px !important;
  }

  .text-body-badge {
    font-size: 14px !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
  }
} */
