@import 'tailwindcss';

@config "../tailwind.config.js";
@import './base/_index.css';

:root {
  --color-bg-body-main: #f7f9fb;
}

body {
  background-color: var(--color-bg-body-main);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
